body {
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    background-color: #3DE0AA;
}

.container {
    padding: 9%;
    text-align: center;
}

.img {
    height: 300px;
    width: 300px;
}

.student {
    color: #38d39f;
}

.admin {
    color: #38d39f;
}

.con:hover {
    color: black;
}

.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 135%;
    z-index: -1;
}

@media (max-width: 570px) {
    .column{
        margin-bottom: 5%;
    }
}